<footer class="footer1">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-sm-4 col-xs-12">
				<ul class="list-unstyled clear-margins">
					<li class="widget-container widget_nav_menu">
						<h1 class="title-widget">General Links</h1>
						<ul>
							<li><a href=""><i class="fa fa fa-angle-double-right"></i> Home</a></li>
							<li><a href=""><i class="fa fa fa-angle-double-right"></i> Design</a></li>
							<li><a href=""><i class="fa fa fa-angle-double-right"></i> Blog</a></li>
							<li><a href=""><i class="fa fa fa-angle-double-right"></i> Contact Us</a></li>
							<li><a href=""><i class="fa fa fa-angle-double-right"></i> Careers</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="col-lg-4 col-sm-4 col-xs-12">
				<ul class="list-unstyled clear-margins">
					<li class="widget-container widget_nav_menu">
						<h1 class="title-widget">For Employees</h1>
						<ul>
							<li><a href=""><i class="fa fa fa-angle-double-right"></i> Site Map</a></li>
							<li><a href=""><i class="fa fa fa-angle-double-right"></i> Admin Login</a></li>
							<li><a href=""><i class="fa fa fa-angle-double-right"></i> Our Sponsors</a></li>
							<li><a href=""><i class="fa fa fa-angle-double-right"></i> Privacy policy</a></li>
							<li><a href=""><i class="fa fa fa-angle-double-right"></i> Terms & Conditions</a></li>
						</ul>
					</li>
				</ul>	
			</div>
			<div class="col-lg-4 col-lg-offset-0 col-sm-4 col-sm-offset-0 col-xs-offset-0 col-xs-12">
				<ul class="list-unstyled clear-margins">
					<li class="widget-container widget_recent_news">
						<h1 class="title-widget">Contact Details</h1>
						<div class="footerp">
							<h2 class="title-median">Econth Pvt.Ltd</h2>
							<p>
								<b>Address:</b>
								<address>11,Kumaran Nagar,TNHB Road,Sholinganallur,Chennai,Tamil Nadu
								</address>
							</p>
							<p>
								<b>Email id:</b>
								<a href="mailto:kgparthiban31@gmail.com">kgparthiban31@gmail.com</a>
							</p>
							<p>
								<b>Helpline Numbers:</b>
								 999-999-9999
							</p>
						</div>
						<div class="social-icons">
							<ul class="nomargin">
								<a href="https://www.facebook.com"><i class="fa fa-facebook-square fa-3x social-fb"></i></a>
								<a href="https://www.twitter.com"><i class="fa fa-twitter-square fa-3x social-tw"></i></a>
								<a href=""><i class="fa fa-google-plus-square fa-3x social-gp"></i></a>
								<a href=""><i class="fa fa-youtube-square fa-3x social-yu"></i></a>
							</ul>
						</div>
					</li>
				</ul>	
			</div>
		</div>
	</div>
</footer>
<div class="footer-bottom">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-sm-6 col-xs-12">
				<div class="copyright">© 2017, Econth, All rights reserved</div>
			</div>
			<div class="col-lg-6 col-sm-6 col-xs-12">
				<div class="design">
					Maintained by | <a href="">Econth .Inc</a>
				</div>
			</div>
		</div>
	</div>
</div>


























<!-- <div class="footer">
	<div class="bottom-menu">
		<ul>
			<a href="#"><li>Home</li></a>
			<a href="#"><li>Design</li></a>
			<a href="#"><li>Blog</li></a>
			<a href="#"><li>Contact Us</li></a>
			<a href="#"><li>Careers</li></a>
		</ul>
	</div>
	<div class="bottom-menu">
		<ul>
			<a href="#"><li>Site Map</li></a>
			<a href="#"><li>Admin Login</li></a>
			<a href="#"><li>Our Sponsors</li></a>
			<a href="#"><li>portfoli</li></a>
			<a href="#"><li>Careers</li></a>
		</ul>
	</div>
	<span class="social-media">
		<a class="btn btn-social-icon btn-facebook btn-md"><span class="fa fa-facebook"></span></a>
		<a class="btn btn-social-icon btn-twitter btn-md"><span class="fa fa-twitter"></span></a>
		<a class="btn btn-social-icon btn-google btn-md"><span class="fa fa-google-plus"></span></a>
	 	<a class="btn btn-social-icon btn-youtube btn-md"><span class="fa fa-youtube"></span></a><br/>
	 	<label>Copyright © 2016 Econth.Inc</label>
	</span>

	
</span>

</div> -->