<div ng-controller="employeeController">
	<h1 class="page-header"> Employee Update Page</h1>
	<div class="row">
		<form>
			<div class="col-sm-12">
				<div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)" dismiss-on-timeout="2500">{{alert.msg}}
				</div>
				<div class="row">
					<div class="col-sm-6 form-group">
						<label for="firstname">First Name</label>
						<input type="text" ng-model="update.firstname" name="firstname" placeholder="First Name" class="form-control">
					</div>
					<div class="col-sm-6 form-group">
						<label for="lastname">Last Name</label>
						<input type="text" ng-model="update.lastname" name="lastname" placeholder="Last Name" class="form-control">
					</div>
				</div>
				<div class="form-group">
					<my-date-field label="Date of Birth" type="date" my-type="dob" name="dob" ng-model="update.dob"></my-date-field>
				</div>		
				<div class="form-group">
					<label for="mobile">Mobile Number</label>
					<input type="text" ng-model="update.mobile" name="mobile" placeholder="Mobile Number" class="form-control">
				</div>
				<div class="form-group">
					<label for="email">Email</label>
					<input type="text" ng-model="update.email" name="email" placeholder="Email Address" class="form-control" ng-disabled="false">
				</div>
				<button type="button" class="btn btn-md btn-info" ng-click="updateEmployee(update)">Update</button>	
				<button type="button" class="btn btn-md btn-info" ng-click="cancel()">Cancel</button>	
			</div>
		</form> 
	</div>
</div>